/* Why Tasman */

.why-tasman {
    background-color: var(--color-cream);
    padding: clamp(9.6rem, 8.743rem + 1.429vw, 10.8rem) 0
        clamp(9.6rem, 7.029rem + 4.286vw, 13.2rem);

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1210px;
    }
    .section-title {
    }
    .accordion {
        
    }
    .paragraph {
    }
}

/* How we work */

.how-we-work {
    background-color: var(--color-red);
    padding: clamp(9.6rem, 7.886rem + 2.857vw, 12rem) 0
        clamp(10.7rem, 9.771rem + 1.548vw, 12rem);
    background-image: url(/assets/images/home/how-we-work-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;

    & > svg {
        opacity: 0.1;

        position: absolute;
        height: 200%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 1210px;
        position: relative;
    }

    &__icon {
        position: absolute;
        left: 0;
        width: 45%;
        height: auto;

        background-color: var(--color-red);
        padding: clamp(3rem, 1.143rem + 3.095vw, 5.6rem);
        border-radius: 1.2rem;
        border: 1px solid rgba(255, 249, 235, 0.1);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        display: none;

        &.active {
            display: flex;
            animation: fadeIn 0.4s ease-out;
        }

        &[data-position="1"] {
            top: 0;
        }

        &[data-position="2"] {
            top: 50%;
            transform: translateY(-50%);
        }

        &[data-position="3"] {
            bottom: 0;
        }

        svg {
            width: auto;
            height: clamp(24.4rem, 9.686rem + 24.524vw, 45rem);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 45%;

        color: var(--color-cream);
    }
    &__title {
        font-family: var(--font-mono);
        font-size: clamp(1.4rem, 1.257rem + 0.238vw, 1.6rem);
        font-weight: 400;
        letter-spacing: 1.6px;
    }
    &__card {
        margin-top: clamp(2.4rem, 0.686rem + 2.857vw, 4.8rem);
        padding-bottom: 4.8rem;
        border-bottom: 1px solid var(--border-color-cream);

        display: flex;
        flex-direction: column;
        row-gap: clamp(2.4rem, 1.829rem + 0.952vw, 3.2rem);
    }

    .button {
        margin-top: 4.8rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Partners */

.partners-logo-loop {
    background-color: var(--color-cream);
    padding: clamp(9.6rem, 7.886rem + 2.857vw, 12rem) 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        row-gap: 2rem;
    }
    .section-title {
    }
    .icon-slider {
        width: 100%;
    }
    .icon-track {
        display: flex;
        align-items: center;
        column-gap: clamp(3.2rem, 2.057rem + 1.905vw, 4.8rem);

        img {
            opacity: 0.4;
        }
    }
   
}
