<section class="hero hero--home">
    <div class="wrapper">
        <div class="container">
            <h1 class="main-title">ACCELERATE YOUR DATA JOURNEY</h1>
            <p class="paragraph">
                The boutique analytics consultancy that leverages disorganised data into real business value
            </p>
            <a href="/" class="button button--black">GET IN TOUCH</a>
        </div>
    </div>
</section>