<section class="how-we-work">
    <div class="wrapper">
        <div role="presentation" data-position="1" class="how-we-work__icon">
            {{> icons/home/how-we-work/icon1}}
        </div>
        <div role="presentation" data-position="2" class="how-we-work__icon">
            {{> icons/home/how-we-work/icon2}}
        </div>
        <div role="presentation" data-position="3" class="how-we-work__icon">
            {{> icons/home/how-we-work/icon3}}
        </div>
        
        <div class="how-we-work__content">
            <h2 class="how-we-work__title">HOW WE WORK</h2>
            <div class="how-we-work__card">
                <h3 class="block-title">PEOPLE</h3>
                <p class="paragraph paragraph--smaller">We’ll teach you exactly what you need and how to build a high-performing data team. In the meantime, we’ll set up the right foundations for your process, culture, and ways of working so your new team will begin with a head start.</p>
            </div>
            <div class="how-we-work__card">
                <h3 class="block-title">TECHNOLOGY</h3>
                <p class="paragraph paragraph--smaller">We’ll build a modern data stack to give your company a single source of truth, tailored to your needs and based on industry best practices. We deploy state-of-the-art technology for a scalable data architecture that fits your business and context.</p>
            </div>
            <div class="how-we-work__card">
                <h3 class="block-title">INSIGHTS</h3>
                <p class="paragraph paragraph--smaller">We’ll help you define and interpret the metrics that matter so you can have a strategic view of your business. Once we know what works, we’ll create reliable reporting dashboards and self-service tools so you can prioritise, decide, and act faster with confidence. </p>
            </div>
            <a href="/" class="button button--red">LEARN MORE</a>
        </div>
    </div>
</section>