<section class="why-tasman">
    <div class="wrapper">
        <h2 class="section-title">WHY TASMAN</h2>
        <div class="accordion js-accordion">
            <div class="accordion__titles">
                <button class="active">MISSION</button>
                <button>EXPERTISE</button>
                <button>Return on Your Investment</button>
                <button>BUSINESS VALUE</button>
                <button>FLEXIBILITY</button>
                <button>COLLABORATION</button>
            </div>
            <div class="accordion__descriptions">
                <p class="paragraph active">Our mission is to build world-class capabilities that make us redundant, so you can focus on growing your business sustainably. You will be up and running by yourself in no time.</p>
                <p class="paragraph">Our team has solved a range of data challenges across industries and growth stages, so we will find the quickest path from to where you want to be. We’ve seen the movie already, and we know how it ends.</p>
                <p class="paragraph">Building a data capability is an investment that helps you make faster, smarter decisions. We will give you the best return on money, building the function that improves every other function.</p>
                <p class="paragraph">Our core focus on business value means we only build what will lead to measurable impact in the outcomes that you care about. No chasing shiny objects.</p>
                <p class="paragraph">Our sprint-based working style means that you can flex up or down depending on your team’s needs and desires. You are always in control of what happens next.</p>
                <p class="paragraph">We won’t just work to deliver what your team needs, but we will coach you on how to build a great team with a data-driven culture. The skills and mindset will outlast our engagement so you can keep growing without us.</p>
            </div>
        </div>
    </div>
</section>