<section class="hero hero--services">
    <div class="wrapper">
        <div class="container">
            <h1 class="main-title">How we work</h1>
            <div class="accordion js-accordion">
                <div class="accordion__titles">
                    <button class="active">PEOPLE</button>
                    <button>TECHNOLOGY</button>
                    <button>INSIGHTS</button>
                </div>
                <div class="accordion__descriptions">
                    <p class="paragraph active">We will teach you exactly what you need and how to build a high-performing data team. In the meantime, we’ll set up the right foundations for your process, culture, and ways of working so your new team will begin with a head start.</p>
                    <p class="paragraph">We will build a modern data stack to give your company a single source of truth, tailored to your needs and based on industry best practices. We deploy state-of-the-art technology for a scalable data architecture that fits your business and context.</p>
                    <p class="paragraph">We will help you define and interpret the metrics that matter so you can have a strategic view of your business. Once we know what works, we’ll create reliable reporting dashboards and self-service tools so you can prioritise, decide, and act faster with confidence.</p>
                </div>
            </div>
        </div>
    </div>
</section>