<section class="insights">
    <div class="wrapper">
        <h2 class="section-title">INSIGHTS</h2>
        <p class="paragraph paragraph--smaller">We’ll build a modern data stack to give your company a single source of truth, tailored to your needs and based on industry best practices. We deploy state-of-the-art technology for a scalable data architecture that fits your business and context.</p>
        <div class="table table--blue-bigger">
            <article>
                <h3>BUSINESS EXPERTISE</h3>
                <p><b>Deep dive</b> into specific parts of the business to understand what drives growth and profitability</p>
            </article>
            <article>
                <h3>DIRECTION</h3>
                <p>Have a <b>sounding board</b> to define which metrics really matter for your business</p>
            </article>
            <article>
                <h3>ACTIONABLE</h3>
                <p><b>Collaborate</b> with the team to interpret analysis and inform key business decisions</p>
            </article>
        </div>
    </div>
</section>