<section class="people">
    <div class="wrapper">
        <h2 class="section-title">PEOPLE</h2>
        <p class="paragraph paragraph--smaller">Our mission is to build world-class capabilities that make us redundant, so you can focus on growing your business sustainably. If we’ve done our job well, then you won’t need us around for long.</p>
        <div class="table table--cream">
            <article>
                <h3>EMBEDDED</h3>
                <p>We will embed ourselves alongside your existing team to help them get things done, faster, while sharing as much expertise as possible.</p>
            </article>
            <article>
                <h3>CONSTRUCTIVE</h3>
                <p>If you need to expand your team, we’ll guide you through everything you need to know, from who to hire, how to find them, and how structure the team.</p>
            </article>
            <article>
                <h3>BEST IN CLASS</h3>
                <p>We’ll implement best practice processes and ways of working, with a constant eye on training your team for handover and success.</p>
            </article>
        </div>
    </div>
</section>