<div class="technology">
    <div class="wrapper">
        <div class="technology__img">
            {{> icons/services/roadmap}}
        </div>
        <div class="technology__text">
            <h3 class="section-title">TECHNOLOGY</h3>
            <p class="paragraph paragraph--smaller">We’ll build a modern data stack to give your company a single source of truth, tailored to your needs and based on industry best practices. We deploy state-of-the-art technology for a scalable data architecture that fits your business and context.</p>
        </div>
    </div>
</div>