.header {
    padding: clamp(1.2rem, 0.629rem + 0.952vw, 2rem) 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .wrapper {
        display: flex;
        align-items: center;
        column-gap: 3.6rem;
    }

    .logo {
        height: clamp(2rem, 1.429rem + 0.952vw, 2.8rem);
        width: auto;
    }

    .navigation {
        margin-left: auto;
    }
    .button {
    }    
}

body.home-template .header {
    background-color: var(--color-green);

    .logo path {
        fill: var(--color-black);
    }
}

body.about-template .header {
    background-color: transparent;
    transition: all .4s;

    &.moving {
        background-color: var(--color-blue);
    }
    
    .navigation__item a {
        color: var(--color-cream);
    }

    .logo path {
        fill: var(--color-cream);
    }

    .button.button--black {
        color: var(--color-black);
        background-color: var(--color-cream);
    }
}

body.services-template .header {
    background-color: transparent;
    transition: all .4s;

    &.moving {
        background-color: var(--color-red);
    }
    
    .navigation__item a {
        color: var(--color-cream);
    }

    .logo path {
        fill: var(--color-cream);
    }

    .button.button--black {
        color: var(--color-black);
        background-color: var(--color-cream);
    }
}

body.case-studies-template .header {
    background-color: transparent;
    transition: all .4s;

    &.moving {
        background-color: var(--color-cream);
    }
    
    .navigation__item a {
        color: var(--color-black);
    }

    .logo path {
        fill: var(--color-black);
    }
}
