.hero {
    padding-top: clamp(7rem, 5.714rem + 2.143vw, 8.8rem);
    height: 100vh;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapper,
    .container {
        height: 100%;
    }

    &--home {

        .container {
            height: calc(100vh - clamp(2.5rem, 2rem + 0.833vw, 3.2rem) - 8.8rem);
            border-radius: 1.2rem;
            border: 1px solid var(--border-color-black);

            margin-bottom: clamp(2.5rem, 2rem + 0.833vw, 3.2rem);

            background-image: url(/assets/images/home/hero-background.svg);
            background-position: center;
            background-size: cover;
        }

        .paragraph {
            max-width: 68rem;
            margin-top: clamp(3.2rem, 2.057rem + 1.905vw, 4.8rem);
            text-align: center;
        }

        .button {
            margin-top: 2.4rem;
        }
    }

    &--about {
        background-image: url(/assets/images/about/hero-background.svg);
        background-position: center;
        background-size: cover;

        height: 100vh;
        background-color: var(--color-blue);

        .container {
            color: var(--color-cream);
        }

        .paragraph {
            max-width: 44.7rem;
            text-align: center;
            margin-top: 3.2rem;
        }
    }

    &--services {
        background-color: var(--color-red);

        .container {
            height: calc(100vh - clamp(2.5rem, 2rem + 0.833vw, 3.2rem) - 8.8rem);
            border-radius: 1.2rem;
            border: 1px solid var(--border-color-cream-01);

            margin-bottom: clamp(2.5rem, 2rem + 0.833vw, 3.2rem);

            background-image: url(/assets/images/services/hero-background.svg);
            background-position: center;
            background-size: cover;

            color: var(--color-cream);
        }
    }

    &--case-studies {
        height: max-content;
        background-color: var(--color-cream);

        .container {
            padding: clamp(4.8rem, 3.943rem + 1.429vw, 6rem) 0 4rem;
            height: max-content;
        }
    }
}