.navigation {

    &__list {
        display: flex;
        align-items: center;
        column-gap: clamp(2.4rem, 1.543rem + 1.429vw, 3.6rem);
    }
    &__item a {
        font-family: var(--font-mono);
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: var(--color-cream);
        }
    }
}
