<section class="hero hero--about">
    <div class="wrapper">
        <div class="container">
            <h1 class="main-title">ABOUT US</h1>
            <p class="paragraph">
                Our beliefs guide everything that we do, from our priorities to our principles.
            </p>
            <div class="table">
                <article>
                    <h3>CAPABILITY</h3>
                    <p>The best companies leverage <b>data as a superpower</b> — and any company can do it, too.</p>
                </article>
                <article>
                    <h3>STACK</h3>
                    <p>Building technical infrastructure that is disconnected from <b>business value</b> is doomed to fail.</p>
                </article>
                <article>
                    <h3>ARCHITECTURE</h3>
                    <p>The best foundation for data is a centralised, <b>domain-modelled architecture</b>.</p>
                </article>
                <article>
                    <h3>SINGLE SOURCE OF TRUTH</h3>
                    <p>Data is most effectively deployed through self-service access to a <b>single source of truth</b></p>
                </article>
            </div>
        </div>
    </div>
</section>