<div class="roadmap">
    <div class="wrapper">
        <div class="roadmap__img">
            {{> icons/about/roadmap}}
        </div>
        <div class="roadmap__text">
            <div>
                <h3 class="block-title">OUR MANTRA</h3>
                <p class="paragraph paragraph--smaller">Business value first. We put business value at the beginning and end of every conversation and discussion we have. Data is only as valuable as the people who know how to use it. </p>
            </div>
            <div>
                <h3 class="block-title">OUR VALUES</h3>
                <p class="paragraph paragraph--smaller">Transparency & collaboration. Our team is completely embedded with your stakeholders. We share our roadmaps and check-in multiple times each week so you are always up to date.</p>
            </div>
            <div>
                <h3 class="block-title">OUR PROCESS</h3>
                <p class="paragraph paragraph--smaller">Agile sprints with continuous feedback. We believe in partnership and flexibility. We work in Agile sprints so you’re constantly seeing tangible progress. Quick turnaround times mean you can control, tweak, and pivot our scope as fast as your context evolves. </p>
            </div>
        </div>
    </div>
</div>