<section class="cta {{classes}}">
    <div class="wrapper">
        <h2 class="section-title">{{title}}</h2>
        <a href="/" class="button {{buttonClasses}}">GET IN TOUCH</a>
    </div>
</section>