<section class="cta {{classes}}">
    <div class="wrapper">
        <h2 class="section-title">We deliver your data infrastructure, data insight, and hand everything over to your data team.</h2>

        <a href="/" class="button {{buttonClasses}}">GET IN TOUCH</a>
    </div>
</section>