<footer class="footer">
    <div class="wrapper">
        <div class="footer__main">
            <div class="footer__column">
                <span>Tasman Analytics</span>
                <p>The boutique analytics consultancy that leverages disorganised data into real business value</p>
            </div>
            <div class="footer__column">
                <span>Company</span>
                <ul>
                    <li>
                        <a href="/">About Us</a>
                    </li>
                    <li>
                        <a href="/">careers</a>
                    </li>
                    <li>
                        <a href="/">blog</a>
                    </li>
                    <li>
                        <a href="/">privacy policy</a>
                    </li>
                    <li>
                        <a href="/">linkedin</a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <span>product</span>
                <ul>
                    <li>
                        <a href="/">services</a>
                    </li>
                    <li>
                        <a href="/">Case Studies</a>
                    </li>
                    <li>
                        <a href="/">Get in Touch</a>
                    </li>
                </ul>
            </div>
        </div>
        {{> icons/logo-text}}
        <div class="footer__bottom">
            <span>©TASMAN 2023</span>
            <ul>
                <li>
                    <a href="/">TERMS</a>
                </li>
                <li>
                    <a href="/">PRIVACY POLICY</a>
                </li>
            </ul>
        </div>
    </div>
</footer>